*{
margin: 0;
padding: 0;
}
body {
    background: #000;
color: #F8F4F8;
}

nav{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    background: #000;
    /* position: fixed; */
}

.left{
   display: flex;
   align-items: center;
   gap: 0.6rem;
   margin-left: 40px;

}

.list i {
font-size: 40px;
}

.delivery{
    border:2px solid red;
    border-radius: 5px;
    padding: 8px 20px;
    background: #1C1816;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap:5px;
    font-family: sans-serif;
}

.pickup{
    border-radius: 5px;
    padding: 8px 20px;
    background: #1C1816;
display: flex;
align-items: center;
text-transform: uppercase;
gap: 5px;
font-family: sans-serif;

}

.right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    margin-right: 50px;
}

.cart{
    position: relative;
}

.number{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.button{
    align-self: center;
}

.button button{

    background:#EA002A;
    padding: 12px 15px;
    color: #FFFFFF;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.frontimage{
    width: 100%;
    height: 485px;
}
.frontimage img{
    width:100%;
}

.reorder{
margin-top: 15px;
}

.reorder button{
    display: flex;
    margin: auto;
    background:#EA002A;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    width: 50%;
    height: 40px;
    justify-content: center;
    align-items: center;

}

.exp{
    margin:40px auto 70px;
    width: 82%;
    font-family: sans-serif;
    font-size: 15px;

}

hr{
    width: 8%;
    margin-top: 4px;
    height: 3px;
    background:#EA002A;
    border: none;
}

.items{
    width: 82%;
    display: flex;
    margin:40px auto;
    gap:1rem;
    justify-content: space-around;
}

.item{
    width: 200px;
    height: 200px;
    background: #1C1816;
    border-radius: 50% 50% 5px 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* .card{  
    transition-property: all .4s;
}

.card :hover{
    cursor: pointer;
    transition-duration: .4s;
    transition-delay: 0s;
    transform: translateY(-20px);
} */

.dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #000;
    border: none;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

h6{
    font-family: sans-serif;
    color: #FAFAFA;
    font-weight: lighter;
    font-size: 16px;
}

.bsellers,.topdeals{
    width:82%;
    margin: auto;
    display: flex;
    gap: 1rem;
}

.bsellers_card{
    width: 30%;
    height: 350px;
    background: #1C1816;
    border-radius: 2px;
    position: relative;
}

.bsellers_card h5{
    font-size: 17px;
    font-family: sans-serif;
    padding: 0%;
    position: absolute;
    top: 40px;
    left: 20px;
}

.rectangle{
    display: flex;
    gap: 0.4rem;
    justify-content: center;
}

.rect{
    width: 15px;
    height: 20px;
    background:#EA002A;
    border: none;
}

.price{
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 35% 50%);
    background: #EA002A;
    width: 50%;
    height: 25px;
    margin: 50px 0px 0% 50%;
    position: relative;
}
.price h4{
position: absolute;
    top: 3px;
    right: 8px;
    font-size: large;
    font-family: sans-serif;
}

.topdeal_card{
    width: 30%;
    height: 400px;
    background: #1C1816;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 3px rgb(24, 23, 23);
    position: relative;
}

.topdeal_card h5{
    font-size: 15px;
    font-family: sans-serif;
    position: absolute;
    bottom: 110px;
    left: 10px;
}

.heart{
    color: #EA002A;
    font-size: 23px;
    position: absolute;
    right: 10px;
    top: 10px;

}

.topdeal_card img{
    width: 92%;
    position: absolute;
    left: 4%;
}

.topdeal_card p{
    font-size: 14px;
    font-family: sans-serif;
    position: absolute;
    bottom: 70px;
    left: 10px;
}

.topdeal_card h4{
    font-size: 15px;
    font-family: sans-serif;
    position: absolute;
    bottom: 40px;
    left: 10px;
}

.btn button{
    width: 54%;
    background:#EA002A;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #FAFAFA;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    bottom: -18px;
    left: 23%;
}

.box{
    width: 82%;
    height: 700px;
    margin:80px auto;
}

.subbox{
    width: 100%;
    height:50% ;
    margin-top: 20px;
    display: flex;
}

.subbox1{
    width: 50%;
    height: 100%;   
}

.imgbox{
    width: 96%;
    height: 100%;
    margin: auto;
    border-radius: 10px;
}

.imgbox img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.footer_div{
    width: 100%;
    height: 400px;
    background-color: #1C1816;
    padding-top: 40px;
}

.maindiv{
    width: 80%;
    height: 350px;
    margin:0px auto;

}

.div1{
    width: 96%;
    height: 15%;
    margin: auto;
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.subdiv1,.subdiv2{
    width: 20%;
    height: 100%;
}

.subdiv2{
    display: flex;
    gap: 1rem;
}
.yt,.inst,.fb{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background: white;
}

.div2{
        width: 100%;
        height: 200px;
        margin-top: 20px;
        display: flex;
}

.subdiv_1,.subdiv_2,.subdiv_3,.subdiv_4{
    width: 25%;
    height: 100;
}

.unorderlist ul{
list-style-type:none;
text-align:start;
font-family: sans-serif;
font-size: 20px;
}
ul li{
    padding: 8px;
}

.subdiv_4 img{
    margin-top: 10px;
}

.div3{
    width: 98%;
    height: 50px;
    margin-top: 10px;
    position: relative;
}

.div_1{
    width: 210px;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 10px;
    font-family: sans-serif;
}

.div_2{
    width: 220px;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 10px;
    font-family: sans-serif;
}
.div_2 h4{
    color: #EA002A;
    margin-top: 10px;
    padding-bottom: 5px;
}

.unorderlist li:hover{
    color: #EA002A;
}






